<div id="sidebar" class="mobile col-1-4">
  <%= render ZSRWeb.PageView, "sidebar.html" %>
</div>

<div id="main" class="col-3-4">
  <div class="inner">
    <h1 class="dividing">
      Design Examples
      <span class="subheader right">Last edited today</span>
    </h1>

    <p>This page is an example for overall design.</p>

    <h2 class="dividing">Body Text</h2>

    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Cras a mauris sed elit porttitor ullamcorper non non dui. <b>Praesent consequat quis magna ut luctus.</b> <i>Duis rhoncus ipsum accumsan condimentum iaculis. <b>Aenean sodales urna non nulla elementum, vel euismod leo cursus.</b></i> Etiam eleifend odio at rutrum elementum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a mauris sed elit porttitor ullamcorper non non dui. <code>Praesent consequat quis magna ut luctus.</code> Duis rhoncus ipsum accumsan condimentum iaculis. Aenean sodales urna non nulla elementum, vel euismod leo cursus. Etiam eleifend odio at rutrum elementum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a mauris sed elit porttitor ullamcorper non non dui. Praesent consequat quis magna ut luctus. Duis rhoncus ipsum accumsan condimentum iaculis. Aenean sodales urna non nulla elementum, vel euismod leo cursus. Etiam eleifend odio at rutrum elementum.</p>

    <pre>$ git clone https://github.com/rekyuu/elixir_telegram_bot
$ cd elixir_telegram_bot
$ mix deps.get</pre>

    <h2 class="dividing">Buttons</h2>

    <a href="#" class="button">Default Button</a>
    <a href="#" class="white button">White Button</a>
    <a href="#" class="yellow button">Yellow Button</a>
    <a href="#" class="red button">Red Button</a>

    <br />

    <a href="#" class="inverted button">Default Button</a>
    <a href="#" class="inverted white button">White Button</a>
    <a href="#" class="inverted yellow button">Yellow Button</a>
    <a href="#" class="inverted red button">Red Button</a>

    <h2 class="dividing">Tables</h2>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
            <th>Header 5</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Row:1 Cell:1</td>
            <td>Row:1 Cell:2</td>
            <td>Row:1 Cell:3</td>
            <td>Row:1 Cell:4</td>
            <td>Row:1 Cell:5</td>
          </tr>

          <tr>
            <td>Row:2 Cell:1</td>
            <td>Row:2 Cell:2</td>
            <td>Row:2 Cell:3</td>
            <td>Row:2 Cell:4</td>
            <td>Row:2 Cell:5</td>
          </tr>

          <tr>
            <td>Row:3 Cell:1</td>
            <td>Row:3 Cell:2</td>
            <td>Row:3 Cell:3</td>
            <td>Row:3 Cell:4</td>
            <td>Row:3 Cell:5</td>
          </tr>

          <tr>
            <td>Row:4 Cell:1</td>
            <td>Row:4 Cell:2</td>
            <td>Row:4 Cell:3</td>
            <td>Row:4 Cell:4</td>
            <td>Row:4 Cell:5</td>
          </tr>

          <tr>
            <td>Row:5 Cell:1</td>
            <td>Row:5 Cell:2</td>
            <td>Row:5 Cell:3</td>
            <td>Row:5 Cell:4</td>
            <td>Row:5 Cell:5</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="dividing">Forms</h2>

    <form>
      <fieldset>
        <legend>Title</legend>

        <label for="name">Name</label><br />
        <input name="name" type="text" placeholder="Full name" />
        <br />

        <input checked="checked" name="sex" type="radio" value="male" /> Male
        <br />
        <input name="sex" type="radio" value="female" /> Female
        <br />

        <textarea cols="30" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a mauris sed elit porttitor ullamcorper non non dui. Praesent consequat quis magna ut luctus. Duis rhoncus ipsum accumsan condimentum iaculis. Aenean sodales urna non nulla elementum, vel euismod leo cursus. Etiam eleifend odio at rutrum elementum.</textarea>
        <br />

        <select>
          <option selected="selected" value="1">Yes</option>
          <option value="2">No</option>
        </select>
        <br />

        <input name="democheckbox" type="checkbox" value="1" /> Checkbox<br />

        <div class="computer">
          <div class="col-1-2">
            <button class="fluid">Cancel</button>
          </div>

          <div class="col-1-2 end">
            <button class="fluid red" type="submit" value="Submit">Submit</button>
          </div>
        </div>

        <div class="mobile">
          <button class="fluid red" type="submit" value="Submit">Submit</button>
          <button class="fluid">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div id="sidebar" class="computer col-1-4">
  <%= render ZSRWeb.PageView, "sidebar.html" %>
</div>