<img src="https://www.speedrun.com/themes/botw/cover-256.png">

<div class="inner">
  <h3>The Legend of Zelda: Breath of the Wild</h3>

  <p><i>Released 2017 for the Wii U and Switch</i></p>
</div>

<ul>
  <li>Leaderboard</li>
  <li>Routes

    <ul>
      <li>Any%</li>
      <li>All Dungeons</li>
      <li>All Main Quests</li>
    </ul>
  </li>
  <li>Resources</li>
  <li>Techniques</li>
</ul>