@import "variables";

button, .button {
  background-color: $lightfg;
  border: 1px solid $lightfg;
  color: $foreground !important;
  padding: $padding;
  text-align: center;
  display: inline-block;
  margin-right: $padding;
  margin-bottom: $padding;

  &:hover {
    text-decoration: none;
    background-color: lighten($lightfg, 15%);
    border: 1px solid lighten($lightfg, 15%);
  }

  &.white {
    background-color: $foreground;
    border: 1px solid $foreground;
    color: $background !important;

    &:hover {
      background-color: transparentize($foreground, .25);
      border: 1px solid transparentize($foreground, .25);
    }
  }

  &.red {
    background-color: $header;
    border: 1px solid $header;
    color: $foreground !important;

    &:hover {
      background-color: lighten($header, 15%);
      border: 1px solid lighten($header, 15%);
    }
  }

  &.yellow {
    background-color: $hyperlink;
    border: 1px solid $hyperlink;
    color: $background !important;

    &:hover {
      background-color: lighten($hyperlink, 15%);
      border: 1px solid lighten($hyperlink, 15%);
    }
  }

  &.inverted {
    background-color: rgba(0,0,0,0);
    border: 1px solid $lightfg;
    color: $foreground !important;

    &:hover {
      background-color: $lightfg;
    }

    &.white {
      border: 1px solid $foreground;
      color: $foreground !important;

      &:hover {
        color: $background !important;
        background-color: $foreground;
      }
    }

    &.red {
      border: 1px solid $header;
      color: $header !important;

      &:hover {
        color: $foreground !important;
        background-color: $header;
      }
    }

    &.yellow {
      border: 1px solid $hyperlink;
      color: $hyperlink !important;

      &:hover {
        color: $background !important;
        background-color: $hyperlink;
      }
    }
  }
}