@import "variables";

form {
  legend {
    margin-bottom: $padding;
  }

  input, textarea, select {
    background: $lightfg;
    border: none;
    color: $foreground;
    padding: $padding;
    margin-top: $padding;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    font-weight: bold;
  }

  input[type*='text'], textarea, select {
    width: 100%;
    line-height: 1.5em;
  }

  button {
    margin-top: $padding;
    margin-bottom: 0;
  }
}