@import "variables";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .inner { padding: $padding; }
}

[class*='col-'] {
  float: left;
  padding-right: $padding;
}

[class*='col-'].end {
  padding-right: 0;
}

.col-1-1    { width: 100%; }
.col-11-12  { width: 91.66% }
.col-10-12  { width: 83.333%; }
.col-3-4,
.col-9-12   { width: 75%; }
.col-2-3,
.col-8-12   { width: 66.66%; }
.col-7-12   { width: 58.33% }
.col-1-2,
.col-6-12   { width: 50%; }
.col-5-12   { width: 41.66%; }
.col-1-3,
.col-4-12   { width: 33.33%; }
.col-1-4,
.col-3-12   { width: 25%; }
.col-1-5    { width: 20%; }
.col-1-6,
.col-2-12   { width: 16.667%; }
.col-1-7    { width: 14.28%; }
.col-1-8    { width: 12.5%; }
.col-1-9    { width: 11.1%; }
.col-1-10   { width: 10%; }
.col-1-11   { width: 9.09%; }
.col-1-12   { width: 8.33% }

.fluid {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 0em;
    margin-right: 0em;
  }

  [class*='col-'] {
    width: 100%;
    padding-right: 0;
    margin-bottom: $padding;
  }

  .computer { display: none; }
}

@media only screen and (min-width: 768px) {
  .mobile { display: none; }
}