@import "variables";

nav, #content, footer { padding-top: $padding; }
nav, footer { padding-bottom: $padding; }

#sidebar {
  padding-right: 0;

  img {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
