@import "variables";

nav {
  a {
    float: left;
    margin-right: $padding * 2;
    margin-top: $padding;
  }

  a.logo {
    font-size: 2.5em;
    margin-right: $padding;
    margin-top: 0;
    height: 48px;

    &:hover {
      text-decoration: none;
      text-shadow: 0 0 .25em $hyperlink;
    }

    span#zelda {
      font-family: "Encode Sans Condensed", sans-serif;
      font-weight: 900;
    }

    span#speedruns {
      font-family: "Encode Sans", sans-serif;
      font-weight: 300;
    }

    img { height: 48px; }
  }

  .nav-right {
    float: right;

    a {
      margin-right: 0;
      margin-left: $padding;
    }

    img {
      margin-left: $padding;
      height: 48px;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  nav {
    a {
      text-align: center;
      width: 100%;
    }

    .nav-right {
      width: 100%;

      img { display: none; }

      a {
        margin-right: 0;
        margin-left: 0 !important;
      }
    }
  }
}