@import "variables";

.table {
  overflow-x: auto;
  margin-bottom: $padding;

  table {
    width: 100%;
    border-collapse: collapse;

    & th { background: $lightfg; }
    & td, & th { padding: $padding; }
    &, th, td, & th { border-bottom: 1px solid $lightfg; }
  }
}