@import "variables";

html, body { font-family: "Open Sans", sans-serif; }

h1 {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 900;
}

h2, h3, h4, h5, h6 {
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $header;
  margin: 0 0 $padding / 2 0;

  &.dividing {
    border-bottom: 1px solid $lightfg;
    padding-bottom: 0.25em;
  }
}

h1 { font-size: 2.50em; }
h2 { font-size: 2.00em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.50em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.00em; }

.subheader {
  color: $foreground;
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
  font-size: 33%;
}

code, pre {
  background: $lightfg;
  font-family: "Fira Mono", monospace;
}

code { padding: .25em .5em; }

pre {
  padding: 1.25em;
  & code { padding: 0; }
}

p, pre {
  line-height: 1.5em;
  margin-top: $padding / 2;
  overflow: auto;
}

a {
  color: $hyperlink;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

i.i {
  font-family: 'octicons';
  font-style: normal;
}

.left       { text-align: left; }
.center     { text-align: center; }
.right      { text-align: right; }
.justify    { text-align: justify; }
.italics, i { font-style: italic; }
.bold, b    { font-weight: 700; }
.regular    { font-weight: normal; }

@media only screen and (max-width: 767px) {
  .subheader {
    content: "";
    display: table;
    clear: both;
    text-align: left;
    margin-top: $padding / 2;
  }
}