@import "modules/variables";

html, body {
  background-attachment: fixed;
  background-color: $background;
  background-image: url("/images/bg.jpg");
  background-repeat: repeat;
  color: $foreground;
  font-family: "Open Sans", sans-serif;
}

nav, .inner, #sidebar {  
  background-color: #111310;
}

::selection {
  background: $hyperlink; 
}

::-moz-selection {
  background: $hyperlink; 
}