<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZSR α</title>

    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:900|Encode+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <link rel="stylesheet" href='<%= static_path(@conn, "/css/app.css") %>'>
  </head>

  <body>
    <nav>
      <div class="container">
        <a class="logo" href="#"><img src="/images/logo.jpg"/></a>

        <a href="#">News</a>
        <a href="#">Games</a>
        <a href="#">Leaderboards</a>
        <a href="#">Races</a>
        <a href="#">Support</a>

        <div class="nav-right">
          <a href="#">rekyuu</a>
          <img src="https://www.speedrun.com/themes/user/rekyuu/image.png">
        </div>
      </div>
    </nav>

    <div id="content" class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <footer class="container">
      <i>▲ 2018 ZSR Staff</i>
    </footer>

    <script src='<%= static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
